.App {
  
  min-height: 100vh;
  background-color: rgb(13, 17, 39);
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 5px black;
  min-width: 960px;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-shadow: none;
}

a:hover {
  color: cyan;
}

.nav-links a {
  color: black;
}

ul {
  list-style-type: none;
  list-style: none;
  margin: 0;
  padding: 0;
  
}

h1, h3, h5 {
  margin: 0;
}

.MuiToolbar-root {
  background-color: black;
}

.movie-div:hover {
  color: cyan;
  cursor: pointer;
}

.genre-link:hover {
  color: cyan;
  cursor: pointer;
}